* {
    font-family: Arial, Helvetica, sans-serif;
}

#weatherContainer {
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    height: 25vh;
    font-size: large;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px;
}

#clouds {
    background-image: url(../images/clouds.jpg);
    background-size:cover;
    opacity: 90%;
}

#header {
    background-color: white;
    width: 100%;  
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px;
    font-weight:900;
}

#forecast {
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    height: auto;
    font-size: medium;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px;
}

#day1, #day2, #day3, #day4{
    border-right: 1px solid black;
}

#hide {
    visibility: hidden;
}

#sidebar {
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    height: auto;
    font-size: medium;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px;
}